<div id="uploadList_0" class="upload_append_list dragging" style="position: absolute; left: 0px; top: 0px;">
    <div class="file_bar">
        <div style="padding:5px;"><p class="file_name">5.jpg</p><span class="file_del" data-index="0" title="删除"></span>
        </div>
    </div>
    <a style="height:100px;width:120px;" href="#" class="imgBox">
        <div class="uploadImg" style="width:105px"><img id="uploadImage_0" class="upload_image" src=“”
                                                        style="width:expression(this.width > 105 ? 105px : this.width)">
        </div>
    </a>
    <p id="uploadProgress_0" class="file_progress"></p>
    <p id="uploadFailure_0" class="file_failure">上传失败，请重试</p>
    <p id="uploadSuccess_0" class="file_success"></p>
</div>